#asa-logo-box{
    text-align: center;
    max-height: 20vh;
    margin-top: 110px;
}
#asa-logo{
    width: 30vh;
}
#fb-icon{
  position: absolute;
  right: 50px;
  top:40vh;
}

#photo1{
    position: absolute;
    top: 100vh;
    left: 60px;
}
#photo2{
    position: absolute;
    right: 10px;
    top: 110vh;
}
#photo3{
    position: absolute;
    left: 10px;
    top: 100px;
}


h1{
    text-align: center;
    margin-top: 20vh;
    font-size: 6vh;
}
body{
    background-color: #60C563;
    
    
}
#content-container{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
   
    
   

}

#ASA{
    max-width: 80vh;
    margin-left: 20px;
    margin-left: 10px;

}
#why-should-we-participate{
    
    max-width: 80vh;
    text-align: center;
    
}


@media screen and (max-width: 1100px){
    #fb-icon{
        display:none;
    }
    #photo1{
        display: none;
    }
    #photo2{
        display: none;
    }
    
    #photo3{
        display: none;
    }
    

    
    #content-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }
    #ASA{
        display: block;
        float: none;
        max-width: 80vh;
        
    
    }
    #why-should-we-participate{
        display: block;
        max-width: 80vh;
        text-align: none;
        
    }
    #form_Box{
        min-width: 100vw;
        display:block;
        margin: auto;
        margin-bottom: 30vh;
        
    }
    #sections-asa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .form-control{
        width: 100%;
        padding-right: 40px;
    }
    
    #cal h3{
        display: none;
    }
    #calendar-place-holder{
        display: none;
    
    }
    
    
    

}

#form_Box{
    max-width: 40vw;
    display:block;
    margin: auto;
    margin-bottom: 30vh;
}

#sections-asa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
   
    
}

.form-control{
    width: 100%;
    padding-right: 40px;
    display:flex;
}




#calendar-place-holder{
    width: 35vw;

}
#cal{
    float: right;
    display: inline-block;
    margin-right: 10vh;
}


#get-excited-submitBtn{
    background-color: #FAFF69;
    border-radius: 10px;
    border: none;
    padding: 8px 25px;
    color: black;

}