.title{
    color: #53351D;
}
body{background-color: rgb(114, 141, 64);}
.header-section h1{
    margin-top:-180px;  font-size: 50px; height: 120px;
}

.header-section p{
    margin-left:-15px; margin-top: -10px;
}

.give-art-logo{
    /* position:absolute; */
    height:250px; width: 250px; border-radius: 50%; 
    margin-left: -15%;
    /* display: none; */
}

#ASA{max-width: 500px;}

.side-bubble{
    height:250px;width: 250px;
}
.news-feed{
    margin-left: 73%; margin-top: 100px; margin-bottom: -150px;
}
.news-bubble{
    text-align: center; width: 370px;
}
.news-feed-mobile{
    display: none;
}
.wrapper-tutor{
padding-top: 5px; padding-bottom: 150px;
}

@media screen and (max-width:1116px){
    .header-section h1{
    margin-top:-100px;  font-size: 40px; height: 120px;
    
    
}
/* #mobile-asa-logo-box{
    display: block;
    text-align: center;
    max-height: 20vh;
    margin-top: 110px;
   
} */

.header-section p{
    margin-left:-15px; margin-top: 5px;
}
    .give-art-logo{
        display: none;
    }
    .side-bubble{
        display: none;
    }
    .news-bg{
        display: none;
    }
    .news-feed-mobile{
        display: block;
        padding-top: -40px;
    }
    .news-bubble{
        display: none;
    }
    .news-feed{
        text-align: center;
        margin-left: 0%; margin-top: 80px; margin-bottom: 20px;
    }
    .skills-choose-title{
        padding-top: 100px;
    }
}
@media screen and (max-width:375px){
    .header-section h1{
    margin-top: 100px;  font-size: 50px; height: 120px;

}
.header-section p{
    font-size: 15px;
}
    .news-feed{
        text-align: center;
        margin-left: 0%; margin-top: 20px; margin-bottom: 20px;
    }
    .wrapper-tutor{
padding-top: 5px; padding-bottom: 250px;
}
}


#mobile-asa-logo-box{
    display: none;
   
}
#asa-logo{
    width: 240px;
}
#fb-feed{
    margin-left: 76%; 
    margin-top: 100px; 
    margin-bottom: -150px;
    
}


#photo1{
    display: inline-block;
    margin-top: 70px;
    margin-left: 5%;
    margin-bottom: 20%;
}

#photo3{
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 83%;
    margin-top: -300px;
}


@media screen and (max-width: 1100px){
    #fb-feed{
        display:none;
    }
    #photo1{
        display: none;
    }
    #photo2{
        display: none;
    }
    
    #photo3{
        display: none;
    }
    

    
    #content-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
      
    }
    #ASA{
        display: block;
        float: none;
        max-width: 80vh;
        
    
    }
    #why-should-we-participate{
        display: block;
        max-width: 80vh;
        text-align: none;
        
    }
    #form_Box{
        min-width: 100vw;
        display:block;
        margin: auto;
        margin-bottom: 30vh;
        
    }
    #sections-asa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .form-control{
        width: 100%;
        padding-right: 40px;
    }
    
    #cal h3{
        display: none;
    }
    #calendar-place-holder{
        display: none;
    
    }
    
    
    

}

#form_Box{
    max-width: 600px;
    margin-bottom: 200px;
}

#stuff{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    margin-top: -200px;
    
}
#sections-asa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
   
    
}

.form-control{
    width: 100%;
    padding-right: 40px;
    display:flex;
}




#calendar-place-holder{
    width: 35vw;

}


#get-excited-submitBtn{
    background-color: #FAFF69;
    border-radius: 10px;
    border: none;
    padding: 8px 25px;
    color: black;

}


