#mbtitle{
    display: none;
}
#mbtitle img{
    display: none;
}


.latest-news-cloud{
    margin-top:-30%; margin-left: 15%;
}

.new-container{
    
    height: 300px; width: 500px; background-size: 500px 200px; background-repeat: no-repeat; 
}

.new-content{
    margin-top: 40%; padding-top: 8%; padding-left: 20%;
}

.new-content h5{
    padding-left: 20%;
}

.new-content li{
    list-style: none; color: #FFCC00; text-decoration: underline;
}
.news-speaker{
    width: 15px; height: 15px;
    margin-top: -2%;
}
.linkwraplink{
    background-color:#222222;
}

.container{height: 1%;}
section.landing .tree-nav .treeInner .linkWrap .enroll{font-size: 1.7em; top:25.9%;left:50%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .dream-link{font-size: 1.7em; top:13.3%;right:26.5%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .take-flight{font-size: 1.5em; top:22%;right:19.9%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .flyfree{font-size: 1.5em;top:42.3%;right:23.2%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .magazine{font-size: 0.8em;top:44.7%;right:43.6%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .aboutUs{font-size: 0.8em; top:23.8%;right:39.8%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .event-link{top:17%;right:34.6%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .blog-link{font-size: 1.7em;top:3.9%;right:41.2%;width:2.5%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .thank-link{font-size: 0.8em;top:54.5%;right:39.8%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .donate-link{font-size: 0.8em;top:39.9%;right:33.0%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .corner-link{top:51.7%;right:30%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .sponsors-link{font-size: 0.7em;top:27%;right:31.2%;width:2.7%;height:5%} 
section.landing .tree-nav .treeInner .linkWrap .give-art-link{font-size: 0.8em;top:51.5%;right:32.3%;width:2.7%;height:5%} 



@media screen and (max-width:1116px){
    .enroll{font-size: 0.1em; }
    
}

@media screen and (max-width:767px){
    .new-content h5{
        padding-left: 15%;
    }
    .new-content{
        margin-top: 40%; padding-top: 8%; padding-left: 12%;
    }
    .latest-news-cloud{
        margin-top:-65%; margin-left: 5%;
    }
    .new-container{
        background-size: 350px 150px;
    }
    #mbtitle{
        display: block;
    }
    #mbtitle img{
        
        display: block;
        height: 270px;
        width: 300px;
        margin-top: -95%;
        margin-left: 20%;
    }
    
    
}
@media screen and (max-width:545px){
    .new-content{
        margin-top: 40%; padding-top: 2%; padding-left: 7%;
    }
    .latest-news-cloud{
        margin-top:-50%; margin-left: 14%;
    }
    .new-container{
        background-size: 300px 100px;
    }
    #mbtitle img{
        height: 200px;
        width: 200px;
        margin-top: -150%;
        margin-left: -230%;
    }
    
}
section.landing .tree-nav .treeInner .linkWrap a{
    color:white;
    text-align: center;
}



/* DO NOT DELETE */

/* section.landing .tree-nav .treeInner .linkWrap .enroll{top:24.9%;left:52.4%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .aboutFight{top:3%;right:36.7%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .dream-link{top:12.5%;right:24.2%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .fightFree{top:25%;right:17.9%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .fightPro{top:44%;right:21.1%;width:5.6%;height:8.1%}
section.landing .tree-nav .treeInner .linkWrap .social-link{top:43.7%;right:47.8%;width:3%;height:5.5%}
section.landing .tree-nav .treeInner .linkWrap .magazine{top:45%;right:41.2%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .aboutUs{top:24.3%;right:37.3%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .event-link{top:18.3%;right:32.4%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .blog-link{top:37.5%;right:36.8%;width:2.5%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .thank-link{top:53.5%;right:37.5%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .donate-link{top:39.3%;right:30.7%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .corner-link{top:51.7%;right:30%;width:2.7%;height:5%}
section.landing .tree-nav .treeInner .linkWrap .sponsors- link{top:26%;right:28.7%;width:2.7%;height:5%} */
